<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TIENDA</title>
		<link rel="icon" href="/static/img/core-img/icono.png">
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap2.min.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/slick-theme.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/nouislider.min.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/style2.css"/>
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<script>
			function buy(){
				alert("¡Tú compra ha sido realizada con éxito!");
			}
		</script>
		    <script src="login.js"></script>

    <!-- Favicon -->
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
		  <a class="navbar-brand" href="/static/index.html"><img src="/static/images/logo_index.png" width="30" height="30">Brasil 2019</a>

			<div class="nav-item">
				<a class="nav-link" href="/static/estadios.html"> Estadios </a>
			</div>
			<div class="nav-item">
				<a class="nav-link" href="/static/equipos.html"> Equipos </a>
			</div>
			<div class="nav-item">
            <a class="nav-link" onclick="logout()">Log Out</a>
        	</div>
	  	</nav>
		<hr>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">!Jersey por Paises¡</h3>
						</div>
					</div>
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/arg.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Argentina</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/blv.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Bolivia</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/jpn.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Japon</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/per.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Peru</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/prg.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Paraguay</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/uru.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Uruguay</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/vzla.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Venezuela</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/br.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Brasil</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/chl.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Chile</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/col.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Colombia</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/ctr.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Catar</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/ecu.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Ecuador</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

									<div id="slick-naw-1" class="products-slick-nav"></div>
									</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top Mas Vendidos</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/ball.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Pelota de la Copa America</a></h3>
												<h4 class="product-price">$90.00</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/tickets.jpg" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Tickets para la Copa America</a></h3>
												<h4 class="product-price">$120.00</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/per.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Peru</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->

										<<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/static/img/jersey-img/col.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Jersey Colombia</a></h3>
												<h4 class="product-price">$70.00 <del class="product-old-price">$100.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
											<div class="add-to-cart">
												<input type="button" class="add-to-cart-btn" onclick="buy()" value="Buy Now"><i class="fa fa-shopping-cart"></i></input>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>

								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
