<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Title -->
    <title>Copa América 2019</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/icono.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <audio src="/static/addons/alltime.mp3" autoplay loop></audio>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
      <a class="navbar-brand" href="/static/index.html"><img src="/static/images/logo_index.png" width="30" height="30">Brasil 2019</a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
      </div>
    </div>
        <div class="nav-item">
            <a class="nav-link" href="/static/estadios.html"> Estadios </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" onclick="logout()">Log Out</a>
        </div>
  </nav>
    <hr>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Logo Area -->
        <div class="logo-area">
            <a href="/static/index.html"><img src="/static/img/core-img/logo.png" alt=""></a>
        </div>

    </header>

    <!-- ##### Header Area End ##### -->


    <!-- ##### Catagory Post Area Start ##### -->

    <div class="catagory-post-area section-padding-100">

        <div class="container">

            <div class="row justify-content-center">
                <!-- Post Area -->
                <!-- Grupo A -->
                <img src="/static/img/core-img/grupoA.png">
                    <!-- Single Blog Post - Peru -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/peru.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Perú</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Paolo Guerrero</a>
                                <a href="#" class="post-author">Entrenador: Ricardo Gareca</a>
                            </div>
                            <p> Puntaje: 4 punto </p>
                            <p>  Próximo rival: Brasil </p>
                            <p>  MVP de la última jornada: Jefferson Farfan </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Brasil-->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/brasil.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Brasil</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Philippe Coutinho</a>
                                <a href="#" class="post-author">Entrenador: Tite</a>
                            </div>
                            <p>
                              Puntaje: 4 puntos </p>
                              <p>Próximo rival: Perú</p>
                              <p>MVP de la última jornada: -
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Bolivia -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/bolivia.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Bolivia</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Marcelo Martins </a>
                                <a href="#" class="post-author">Entrenador: Eduardo Villegas </a>
                            </div>
                            <p>
                              Puntaje: 0 puntos </p>
                              <p> Próximo rival: Venezuela </p>
                              <p>MVP de la última jornada: -
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Venezuela -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/venezuela.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Venezuela</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Salomon Rondon </a>
                                <a href="#" class="post-author">Entrenador: Rafael Dudamel </a>
                            </div>
                            <p>
                              Puntaje: 2 punto</p>
                              <p>Próximo rival: Bolivia</p>
                              <p>MVP de la última jornada: Wuilker Faríñez
                            </p>
                        </div>
                    </div>

                    <!-- Grupo B -->

                    <img src="/static/img/core-img/grupoB.jpg">
                    <hr>

                    <!-- Single Blog Post - Argentina-->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/argentina.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Argentina</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Lionel Messi </a>
                                <a href="#" class="post-author">Entrenador: Lionel Scaloni </a>
                            </div>
                            <p>
                              Puntaje: 0 puntos </p>
                              <p> Próximo rival: Paraguay </p>
                              <p> MVP de la última jornada: -
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Paraguay -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/paraguay.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Paraguay</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Gustavo Gomez </a>
                                <a href="#" class="post-author">Entrenador: Eduardo Berizzo </a>
                            </div>
                            <p>
                              Puntaje: 1 punto </p>
                              <p> Próximo rival: Argentina </p>
                              <p> MVP de la última jornada: Oscar Cardozo
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Colombia -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/colombia.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Colombia</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: James Rodriguez </a>
                                <a href="#" class="post-author">Entrenador: Carlos Queiroz </a>
                            </div>
                            <p>
                              Puntaje: 3 puntos </p>
                              <p> Próximo rival: Catar</p>
                              <p> MVP de la última jornada: Roger Martinez
                            </p>
                        </div>
                    </div>


                    <!-- Single Blog Post - Catar -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/catar.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Catar</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Khalfan Ibrahim  </a>
                                <a href="#" class="post-author">Entrenador: Felix Sanchez </a>
                            </div>
                            <p>
                              Puntaje: 1 punto </p>
                              <p>Próximo rival: Colombia</p>
                              <p>MVP de la última jornada: Boualem Khoukhi
                            </p>
                        </div>
                    </div>

                    <!-- Grupo C -->

                    <div><img src="/static/img/core-img/grupoC.png"></div>


                    <!-- Single Blog Post - Chile -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/chile.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Chile</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Arturo Vidal  </a>
                                <a href="#" class="post-author">Entrenador: Reinaldo Rueda </a>
                            </div>
                            <p>
                              Puntaje: 0 puntos</p>
                              <p> Próximo rival: Japón </p>
                              <p> MVP de la última jornada: - </p>
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Ecuador -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/ecuador.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Ecuador</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Erner Valencia  </a>
                                <a href="#" class="post-author">Entrenador: Hernan Dario Gomez </a>
                            </div>
                            <p>
                              Puntaje: 0 puntos </p>
                              <p> Próximo rival: Chile </p>
                              <p> MVP de la última jornada: -
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Japon -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/japon.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Japón</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Keisuke Honda  </a>
                                <a href="#" class="post-author">Entrenador: Hajime Moriyasu </a>
                            </div>
                            <p>
                              Puntaje: 0 puntos</p>
                              Próximo rival: Chile</p><p>
                              MVP de la última jornada: -
                            </p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Uruguay -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/countries-img/uruguay.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Uruguay</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Jugador clave: Luis Suarez  </a>
                                <a href="#" class="post-author">Entrenador: Óscar Tabárez </a>
                            </div>
                            <p>
                              Puntaje: 3 puntos</p>
                              Próximo rival: Japón</p><p>
                              MVP de la última jornada: Luis Suarez
                            </p>
                        </div>
                    </div>

                <!-- Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                    <div class="sidebar-area">
                        <!-- Single Widget Area -->
                        <div class="single-widget-area add-widget mb-30">
                            <img src="img/bg-img/add.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Post Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
