<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Title -->
    <title>Copa América 2019</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/icono.png">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="login.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
      <a class="navbar-brand" href="/static/index.html"><img src="/static/images/logo_index.png" width="30" height="30">Brasil 2019</a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
      </div>
    </div>

        <div class="nav-item">
            <a class="nav-link" href="/static/equipos.html"> Equipos </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" onclick="logout()">Log Out</a>
        </div>
  </nav>
    <hr>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Logo Area -->
        <div class="logo-area">
            <a href="/static/index.html"><img src="/static/img/core-img/logo.png" alt=""></a>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->

    
    <!-- ##### Catagory Post Area Start ##### -->
    <div class="catagory-post-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <!-- Single Blog Post - Mineirao -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/minerao.JPG" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Estadio Mineirão</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Belo Horizonte, Brasil</a>
                                <a href="#" class="post-author">Capacidad: 60 000</a>
                            </div>
                            <p>Inaugurado en 1965, el Mineirão tiene capacidad actual para 60 000 espectadores. 
                            Sufrió una importante reducción en su capacidad para poder acogerse a las normas de la 
                            FIFA para los estadios de fútbol. Antes de aquello, 
                            el estadio albergaba una capacidad de más de 130 000 espectadores. Las medidas de su terreno son de 115 × 76 m.
                            </p>                        
                        </div>
                    </div>

                    <!-- Single Blog Post - Arena Fonte Nova-->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/fontenova.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Arena Fonte Nova</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Salvador Bahía</a>
                                <a href="#" class="post-author">Capacidad: 51 900</a>
                            </div>
								<p>El Itaipava Arena Fonte Nova1​ es un estadio de fútbol de la ciudad de Salvador Bahía, en Brasil, 
								de propiedad del gobierno del estado de Bahía y que es utilizado por el Esporte Clube Bahia y 
								en ocasiones por el Esporte Clube Vitória. Fue inaugurado en 1951 con el nombre Estadio Octávio Mangabeira y 
								reconstruido con motivo de la Copa Mundial de Fútbol de 2014. 
								Tras la remodelación cuenta con una capacidad para 55 000 espectadores sentados.</p>
                        </div>
                    </div>

                    <!-- Single Blog Post - Arena do Grêmio -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/gremio.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Arena do Grêmio</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Porto Alegre, Brasil</a>
                                <a href="#" class="post-author">Capacidad: 55 662</a>
                            </div>
								<p>El Arena do Grêmio es un estadio multiuso ubicado en la ciudad de Porto Alegre, 
								estado de Rio Grande do Sul, Brasil. Es donde actualmente juega de local el Grêmio. 
								Con una capacidad para 60.540 espectadores, fue inaugurado el 8 de diciembre de 2012, 
								en un partido del Grêmio frente al club alemán Hamburgo SV, que terminó con victoria por 2 a 1 para el equipo local.</p>                        
                        </div>
                    </div>

                    <!-- Single Blog Post - Estadio de Maracaná -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/maracana.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Estadio de Maracaná</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">Río de Janeiro, Brasil</a>
                                <a href="#" class="post-author">Capacidad: 80 000</a>
                            </div>
								<p>El Estadio de Maracaná, es un estadio de fútbol de la ciudad de Río de Janeiro, Brasil. 
								Es el estadio más grande de Brasil y fue el más grande del mundo durante mucho tiempo. 
								Fue sede de las Copas del Mundo de Fútbol en 1950 y 2014, y en ambas también fue sede de los 
								encuentros que definieron el título.</p>                        
                        </div>
                    </div>

                    <!-- Single Blog Post - Arena Corinthians-->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/cori.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Arena Corinthians</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">São Paulo, Brasil</a>
                                <a href="#" class="post-author">Capacidad: 47 605</a>
                            </div>
								<p>El Estadio del Corinthians es un estadio de fútbol ubicado en la ciudad de São Paulo, más precisamente en el barrio de 
								Itaquera, en la parte este de la ciudad. Es propiedad del club Corinthians, que lo utiliza para partidos de fútbol.​ 
								El estadio tiene una capacidad para 47 605 espectadores y fue escogido como sede de la Copa Mundial de 2014, 
								el partido inaugural.2​3​ Para la disputa de la copa mundial se montaron gradas con 13 600 lugares temporales, para un total de 61
							   600 asientos.​ 
								Es un estadio de cinco estrellas, en base al reglamento de calificación de estadios de la UEFA.</p>                        
                        </div>
                    </div>

                    <!-- Single Blog Post - Estadio Morumbi -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/bg-img/moru.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Estadio Morumbi</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">São Paulo, Brasil</a>
                                <a href="#" class="post-author">Capacidad: 67 428</a>
                            </div>
								<p>El Estadio Cícero Pompeu de Toledo, es un estadio de fútbol ubicado en la 
								ciudad de São Paulo, Estado del mismo nombre en Brasil. El estadio fue inaugurado en 1960 y pose una capacidad para 
								67.400 personas​. Morumbi es el 3º estadio 
								más grande de Brasil solo superado por el Estadio Maracaná y el estadio Mané Garrincha de Brasilia. 
								Ha recibido más de 30 partidos de la selección de fútbol de Brasil.</p>                        
                        </div>
                    </div>
                </div>

                <!-- Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                    <div class="sidebar-area">
                        <!-- Single Widget Area -->
                        <div class="single-widget-area add-widget mb-30">
                            <img src="img/bg-img/add.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Post Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>