<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- Title -->
    <title>Copa América 2019</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/icono.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <audio src="/static/addons/alltime.mp3" autoplay loop></audio>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
      <a class="navbar-brand" href="/static/index.html"><img src="/static/images/logo_index.png" width="30" height="30">Brasil 2019</a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
      </div>
    </div>
        <div class="nav-item">
            <a class="nav-link" href="/static/estadios.html"> Estadios </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/static/compras.html"> Tienda </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" onclick="logout()">Log Out</a>
        </div>
  </nav>
    <hr>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Logo Area -->
        <div class="logo-area">
            <a href="/static/index.html"><img src="/static/img/core-img/logo.png" alt=""></a>
        </div>

    </header>

    <!-- ##### Header Area End ##### -->


    <!-- ##### Catagory Post Area Start ##### -->

    <div class="catagory-post-area section-padding-100">

        <div class="container">

            <div class="row justify-content-center">
                <!-- Post Area -->
                <!-- Grupo A -->
                <img src="/static/img/core-img/grupoA.png">

                    <!-- Match 1 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-brvsbol.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Brasil consigue un debut espectacular</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"</a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 2 -->

                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-vzlvsperu.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Venezuela salvada por el VAR</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 3 -->

                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-bolvsperu.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Perú con medio pie en la clasificación </a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 4 -->

                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-brvsvzla.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Brasil no logra confirmar su pase</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 5 -- >

                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-bolvsvzla.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">22/06</a>
                                <a href="#" class="post-author">14:00</a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 6 -- >

                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-peruvsbr.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">22/06</a>
                                <a href="#" class="post-author">14:00</a>
                            </div>
                        </div>
                    </div>

                    <!-- Grupo B -->

                    <img src="/static/img/core-img/grupoB.jpg">
                    <hr>

                    <!-- Match 1 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-argvscol.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Argentina aplastada por la gran Colombia</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 2 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-prgvsqatar.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Qatar sorprende en su debut</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 3 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-argvsprg.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">¡Hoy! </a>
                                <a href="#" class="post-author">19:30</a>
                            </div>
                        </div>
                    </div>


                    <!-- Match 4 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-colvsqatar.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">¡Hoy!</a>
                                <a href="#" class="post-author">16:30 </a>
                            </div>
                        </div>
                    </div>


                    <!-- Match 5 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-colvsprg.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">23/06</a>
                                <a href="#" class="post-author">14:00 </a>
                            </div>
                        </div>
                    </div>


                    <!-- Match 6 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-qatarvsarg.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">23/06</a>
                                <a href="#" class="post-author">14:00 </a>
                            </div>
                        </div>
                    </div>


                    <!-- Grupo C -->

                    <div><img src="/static/img/core-img/grupoC.png"></div>


                    <!-- Match 1 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-jpnvscl.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">La Roja brilla en su debut </a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 2 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f1-uruvsecu.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Uruguay aplasta a una timida Ecuador</a>
                            <div class="post-meta">
                                <a href="#" class="post-date"></a>
                                <a href="#" class="post-author"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 3 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-uruvsjpn.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">20/06</a>
                                <a href="#" class="post-author">18:00</a>
                            </div>
                    </div>

                    <!-- Match 4 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f2-ecuvscl.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">21/06</a>
                                <a href="#" class="post-author">18:00</a>
                            </div>
                        </div>
                    </div>


                    <!-- Match 5 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-ecuvsjpn.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">24/06</a>
                                <a href="#" class="post-author">18:00</a>
                            </div>
                        </div>
                    </div>

                    <!-- Match 6 -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/match-img/f3-clvsuru.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">Pendiente</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">24/06</a>
                                <a href="#" class="post-author">18:00</a>
                            </div>
                        </div>
                    </div>

                <!-- Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                    <div class="sidebar-area">
                        <!-- Single Widget Area -->
                        <div class="single-widget-area add-widget mb-30">
                            <img src="img/bg-img/add.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Post Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
